[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/yesilkayacan/imgui.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/yesilkayacan/glfw.git
